# Backup files and system temporaries
*~
.*.swp
*.swo

# compiled files
*.pyc
*.o

# our build directory
build

# external projects
external/.last_pull
external/rapidcheck
external/lazyten
external/krims
